@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
  --black: #000;
  --blue: #3b82f6;
  --dark-gray: #64748b;
  --gray: #94a3b8;
  --light-gray: #f5f5f5f5;
  --white: #fff;

  font-family: 'Roboto', 'Segoe UI', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--light-gray);
  font-size: 1.6rem;
  min-height: 100vh;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.2rem;
  }
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.shadow {
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--white);
  border-radius: 0.4rem;
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  padding: 1rem;
}

/* Header */
header {
  background-color: var(--blue);
}

header h1 {
  color: var(--white);
  margin: 0;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}

/* Form */
.budget-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: -5rem;
  transform: translateY(5rem);
}

.form {
  margin: 0 auto;
  padding: 5rem 0;
  width: 95%;
}

@media (min-width: 768px) {
  .form {
    width: 60rem;
  }
}

.form label {
  color: var(--blue);
  font-size: 2.2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .form label {
    font-size: 2.6rem;
  }
}

.form .field {
  display: grid;
}

.form input#budget {
  text-align: center;
}

@media (min-width: 768px) {
  .form input#budget {
    font-size: 2.5rem;
  }
}

.form input[type='text'],
.form input[type='number'] {
  background-color: var(--light-gray);
  border-radius: 0.4rem;
  border: none;
  font-size: 1.8rem;
  padding: 1rem;
}

.form input[type='submit'] {
  background-color: var(--blue);
  border-radius: 0.4rem;
  border: none;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 2.5rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 300ms ease;
  width: 100%;
}

.form input[type='submit']:hover {
  background-color: #2563eb;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form input[type='submit'] {
    display: block;
    padding: 1rem 3rem;
    font-size: 2.2rem;
  }
}

/* Alert */
.alert {
  border-radius: 0.4rem;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem auto 2rem auto;
  max-width: 60rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.alert.error {
  background-color: #f2dede;
  color: #a94442;
}

@media (min-width: 768px) {
  .alert {
    font-size: 2rem;
  }
}
