@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

:root {
  --black: #000;
  --blue: #3b82f6;
  --dark-gray: #64748b;
  --gray: #94a3b8;
  --light-gray: #f5f5f5f5;
  --white: #fff;

  font-family: 'Roboto', 'Segoe UI', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--light-gray);
  font-size: 1.6rem;
  min-height: 100vh;
  padding-bottom: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fixed {
  overflow: hidden;
  height: 100vh;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

.container {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.shadow {
  -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  background-color: var(--white);
  border-radius: 0.4rem;
  box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
  padding: 1rem;
}

/* Header */
header {
  background-color: var(--blue);
}

header h1 {
  color: var(--white);
  margin: 0;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase;
}

/* Form */
.budget-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: -5rem;
  transform: translateY(5rem);
}

.form {
  margin: 0 auto;
  padding: 5rem 0;
  width: 95%;
}

@media (min-width: 768px) {
  .form {
    width: 60rem;
  }
}

.form label {
  color: var(--blue);
  font-size: 2.2rem;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .form label {
    font-size: 2.6rem;
  }
}

.form .field {
  display: grid;
}

.form input#budget {
  text-align: center;
}

@media (min-width: 768px) {
  .form input#budget {
    font-size: 2.5rem;
  }
}

.form input[type='text'],
.form input[type='number'] {
  background-color: var(--light-gray);
  border-radius: 0.4rem;
  border: none;
  font-size: 1.8rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .form input[type='text'],
  .form input[type='number'] {
    font-size: 2rem;
  }
}

.form select {
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.8rem;
  background-color: var(--light-gray);
}

@media (min-width: 768px) {
  .form select {
    font-size: 2rem;
  }
}

.form input[type='submit'] {
  background-color: var(--blue);
  border-radius: 0.4rem;
  border: none;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 2.5rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 300ms ease;
  width: 100%;
}

.form input[type='submit']:hover {
  background-color: #2563eb;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form input[type='submit'] {
    display: block;
    font-size: 2rem;
  }
}

/* Alert */
.alert {
  border-radius: 0.4rem;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 2rem auto 2rem auto;
  max-width: 60rem;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.alert.error {
  background-color: #f2dede;
  color: #a94442;
}

@media (min-width: 768px) {
  .alert {
    font-size: 2rem;
  }
}

/* Budget component */
.budget-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: -5rem;
  transform: translateY(5rem);
}

.two-columns {
  display: flex;
  flex-direction: column;
}

.two-columns:first-child {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .two-columns {
    flex-direction: row;
  }
  .two-columns > div {
    width: 50%;
  }
  .two-columns:first-child {
    margin-bottom: 0;
  }
}

.budget-content {
  width: 100%;
}

.budget-content p {
  color: var(--blue);
  font-size: 1.8rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .budget-content p {
    font-size: 2.4rem;
  }
}

.budget-content span {
  color: var(--dark-gray);
  font-weight: 400;
}

/* New expense icon */
.new-expense {
  bottom: 2rem;
  position: fixed;
  right: 2rem;
}

.new-expense img {
  width: 4rem;
}

@media (min-width: 768px) {
  .new-expense {
    bottom: 5rem;
    right: 5rem;
  }

  .new-expense img {
    width: 5rem;
  }
}

.new-expense img:hover {
  cursor: pointer;
}

/* Modal window to generate a new expense */
.modal {
  background-color: rgb(0 0 0 / 0.92);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal .close-modal {
  cursor: pointer;
  height: 3rem;
  position: absolute;
  right: 1.2rem;
  top: 2rem;
  width: 3rem;
  z-index: 1;
}

.modal .close-modal img {
  width: 2rem;
}

@media (min-width: 768px) {
  .modal .close-modal {
    right: 5rem;
    top: 3rem;
  }

  .modal .close-modal img {
    width: 100%;
  }
}

.modal .form {
  max-width: 40rem;
  opacity: 0;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: ease-in;
}

@media (min-width: 768px) {
  .modal .form {
    max-width: 60rem;
  }
}

.modal .form legend {
  border-bottom: 3px solid var(--blue);
  color: var(--white);
  display: block;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .modal .form legend {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
}

.modal .form label {
  color: var(--white);
  font-size: 2rem;
  margin: 1.8rem 0;
}

@media (min-width: 768px) {
  .modal .form label {
    font-size: 2.4rem;
    margin: 2rem 0;
  }
}

body .modal {
  overflow: hidden;
}

.modal .form.animate {
  opacity: 1;
  position: relative;
}

.modal .form.close {
  opacity: 0;
}

.modal .form label {
  text-align: left;
}

/* Expense List */
.expense-list {
  margin-top: 10rem;
}

.expense-list h2 {
  color: var(--dark-gray);
  font-weight: 900;
  text-transform: uppercase;
}

.expense {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
  cursor: pointer;
}

.expense-content {
  display: flex;
}

@media (min-width: 768px) {
  .expense-content {
    padding: 1rem;
  }
}

.expense-content img {
  margin-right: 2rem;
  max-width: 8rem;
}

@media (min-width: 768px) {
  .expense-content img {
    max-width: 10rem;
  }
}

.expense-description .expense-category {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase;
}

.expense-description .expense-title {
  color: var(--dark-gray);
  font-size: 1.8rem;
  font-weight: 700;
}

.expense-amount {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.expense-description p {
  margin: 0;
}

.expense-description p {
  margin-bottom: 1rem;
}

.expense-description .expense-date {
  color: var(--dark-gray);
  font-size: 1.5rem;
  font-weight: 900;
}

.expense-description .expense-date {
  color: var(--gray);
  font-weight: 400;
}

@media (min-width: 768px) {
  .expense-description .expense-category,
  .expense-description .expense-date {
    font-size: 2rem;
  }
  .expense-description .expense-title,
  .expense-amount {
    font-size: 2.2rem;
  }
}

/*** Swipe list overrides **/
.swipe-action__leading {
  background-color: var(--blue);
  color: var(--white);
  margin-bottom: 2rem;
}

.swipe-action__trailing {
  background-color: #dc2626;
  color: var(--white);
  margin-bottom: 2rem;
}

.swipeable-list .swipe-action {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .swipeable-list .swipe-action {
    font-size: 2.4rem;
  }
}
